.header {
	width:100%;
	margin: 0 auto;
	text-align:center;
}

.posts {
	width:100%;
	margin: 0 auto;
	text-align:center;

}

#footer {
	width:99%;
	color: #C4C4C4;
	text-align:center;
	position:absolute;
	bottom:10px;
}

.a {
	color:black;
}

#home a:link { color: black; }
#home a:visited { color: black; }
#home a:hover { color: gray; }
#home a:active { color: black; }
